version: '2'

services:
  web:
    build: .
    expose: [80, 443]
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - mysql
    volumes:
      - ./src:/app/src
      - ./app:/app/app
      - ./etc:/app/etc
      - ./web:/app/web
      - ./bin:/app/bin
      - ./features:/app/features
      - ./var/logs:/app/var/logs

  mysql:
    image: mariadb
    environment:
      - MYSQL_ROOT_PASSWORD=root
